<!DOCTYPE html>
<html>
<head>
    <title>Reservation List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Reservation List</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Check-in Date</th>
        </tr>
        {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.name }}</td>
            <td>{{ reservation.email }}</td>
            <td>{{ reservation.phone }}</td>
            <td>{{ reservation.check_in_date }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('welcome') }}"><button>Back to Home</button></a>
</body>
</html>
